body {
    font-family: Lato, Arial, Helvetica, sans-serif;
    font-weight: 400;
    overflow-x: hidden;
}

/* navbar style */
.navbar{
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: #ffffff;
    box-shadow: 5px 3px #edeff0 ; 
}
/* .wsui-shadow-on-scroll {
    height: 80px;
    top: -16px;
    box-shadow: 5px 3px #edeff0 ; 
  } */
.navcontacts {
    display: flex;
    justify-content: space-around;
    padding: 0px;
}
.image{
    margin-right: 50px;
    margin-left: 30px;
}
.navcontacts>div,
a {
    padding: 10px;
    text-decoration: none;
    color: #556270;
    line-height: 30px;
}
.nav-item:hover .nav-link ,
.navcontacts>div:hover,
a:hover {
    color: #1969ba;
}

/* navbar style */


/* hero section */
.heading h1{
    font-size: 55px;
    font-weight: bold;
}

.hero-paragraph{
    font-size: 20px;
    font-weight: lighter;
    color: #744c66;
}

.stars{
    display: flex;
}
.star img,.star{
    width: 85px;
    margin-right:10px;
    margin-left:10px;
    line-height: 31px;
}

.Excellent{
    line-height: 31px;
    font-size: 19px;
    font-weight: 400;
    
}

.trustpilot{
    font-size: 12px;
    line-height: 35px;
    font-weight: bold;
    margin-left: 10px;
}
.displayoverimage img{
     width: 550px;
     position: absolute;
     top: -40px;

}
.topcontainer{
   position: relative;
  
}

.first{
    margin-top: 60px;
}
.second{
    position: relative;
    margin-top: 50px;
   
}
/* hero section */

/* hero section responsive*/

 @media only screen and (max-width: 1000px) and (min-width:770px )

{
.first{
    margin-top: 0px;
}

.second{
    margin-top: 80px; 
}


} 



@media only screen and (max-width: 1600px) and (min-width:770px )

{
section,.successContent  {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
 
}
section>div {
    width: 23%;   
}

.successContent>div{
width: 30%;
}

} 


/* hero section responsive*/

/* feature */
section img{
    width: 40px;
}

/* success content */

.successHeading h1{
    text-align: center;
}
.successContainer{
    display: flex;
    flex-direction: column;
    background-color: #f5f8fa;
    margin-top: 150px;
}
.successContainer>div{
    margin-left: 100px;
    margin-right: 100px;
}
/* success content */
/* feature */

@media (min-width:281px) and (max-width:508px) {
    .successContainer>div{
        margin-left: 15px;
        margin-right: 0px;
    }}

