body {
    font-family: Lato, Arial, Helvetica, sans-serif;
    font-weight: 400;
    overflow-x: hidden;
}

/* navbar style */
.navbar{
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: #ffffff;
    box-shadow: 5px 3px #edeff0 ; 
}
/* .wsui-shadow-on-scroll {
    height: 80px;
    top: -16px;
    box-shadow: 5px 3px #edeff0 ; 
  } */
.navcontacts {
    display: flex;
    justify-content: space-around;
    padding: 0px;
}
.image{
    margin-right: 50px;
    margin-left: 30px;
}
.navcontacts>div,
a {
    padding: 10px;
    text-decoration: none;
    color: #556270;
    line-height: 30px;
}
.nav-item:hover .nav-link ,
.navcontacts>div:hover,
a:hover {
    color: #1969ba;
}

/* navbar style */


/* hero section */
.heading h1{
    font-size: 55px;
    font-weight: bold;
}

.hero-paragraph{
    font-size: 20px;
    font-weight: lighter;
    color: #744c66;
}

.stars{
    display: flex;
}
.star img,.star{
    width: 85px;
    margin-right:10px;
    margin-left:10px;
    line-height: 31px;
}

.Excellent{
    line-height: 31px;
    font-size: 19px;
    font-weight: 400;
    
}

.trustpilot{
    font-size: 12px;
    line-height: 35px;
    font-weight: bold;
    margin-left: 10px;
}
.displayoverimage img{
     width: 600px;
     position: absolute;
     top: 0;

}

/* .row{
    
    margin-right: 0px !important;
    margin-left: 0px !important;
} */
.video{
  
   position: relative;
    margin-right: 20px;
    /* width: 500px; */
}

.first{
    margin-top: 60px;
}
.second{
    position: relative;
   
}
/* hero section */

/* hero section responsive*/

 @media only screen and (max-width: 1000px) and (min-width:770px )

{
.first{
    margin-top: 0px;
}

.second{
    margin-top: 80px; 
}
} 

/* hero section responsive*/



/* feature */

section ul {
    display: flex;
    
    flex-wrap: wrap;
  gap: 10px;
}

 